<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Websocket Client</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
    <script src="http://localhost:3001/socket.io/socket.io.js"></script>
</head>

<body>
    <main id="v-app">
        <section class="alerts">
            <alerts-component :items="alerts"></alerts-component>
        </section>
        <section class="chat">
            <h1>{{ title }}</h1>
            <form action="">
                <input type="text" v-model="text">
                <button type="submit" @click.prevent="sendChatMessage()">send</button>
            </form>
            <div class="tab-row">
                <button class="tab-btn" :class="{ active: activeRoom=='general' }"
                    @click="activeRoom = 'general'">General</button>
                <button class="tab-btn" :class="{ active: activeRoom=='typescript' }"
                    @click="activeRoom = 'typescript'">Typescript</button>
                <button class="tab-btn" :class="{ active: activeRoom=='nestjs' }"
                    @click="activeRoom = 'nestjs'">NestJS</button>
            </div>
            <div class="tab-row">
                Status: {{ isMemberOfActiveRoom ? 'Joined' : 'NOT Joined' }} <button @click="toggleRoomMembership()">{{
                    isMemberOfActiveRoom ? 'Leave' : 'Join' }}</button>
            </div>
            <p>
            <ul>
                <li v-for="msg of messages[activeRoom]">
                    <strong>{{ msg.sender }}</strong> {{ msg.message }}
                </li>
            </ul>
            </p>
        </section>
    </main>

    <script>
        Vue.component('alerts-component', VueSimpleNotify.VueSimpleNotify);
        var app = new Vue({
            el: "#v-app",
            data: {
                title: "Websockets Tester",
                text: "",
                username: '',
                messages: {
                    general: [],
                    typescript: [],
                    nestjs: [],
                },
                activeRoom: 'general',
                rooms: {
                    general: false,
                    typescript: false,
                    nestjs: false,
                },
                socket: {
                    chat: null,
                    alerts: null,
                },
                alerts: [],
            },
            methods: {
                sendChatMessage() {
                    if (this.isMemberOfActiveRoom) {
                        this.socket.chat.emit('chatToServer', {
                            sender: this.username,
                            room: this.activeRoom,
                            message: this.text,
                        });
                        this.text = "";
                    } else alert('You must join the room before sending messages!');
                },
                receiveChatMessage(msg) {
                    this.messages[msg.room].push(msg);
                },
                receiveAlertMessage(msg) {
                    this.alerts.push(msg);
                },
                toggleRoomMembership() {
                    if (this.isMemberOfActiveRoom) this.socket.chat.emit('leaveRoom', this.activeRoom);
                    else this.socket.chat.emit('joinRoom', this.activeRoom);
                },
            },
            computed: {
                isMemberOfActiveRoom() {
                    return this.rooms[this.activeRoom];
                },
            },
            created() {
                this.username = prompt('Enter username:');
                const cors = {
                    origin: 'http://localhost:3000',
                    method: ["GET", "POST", "OPTIONS"],
                };
                const socketServer = 'http://localhost:3001';

                this.socket.chat = io(`${socketServer}/chat`, { cors });
                this.socket.chat.on('chatToClient', msg => {
                    this.receiveChatMessage(msg);
                });
                this.socket.chat.on('connect', () => this.toggleRoomMembership());
                this.socket.chat.on('joinedRoom', (room, oldMsg) => {
                    this.rooms[room] = true;
                    // console.log('nani', room, oldMsg);
                    this.messages[room] = oldMsg;
                    // console.log('update', this.messages[room]);
                });
                this.socket.chat.on('leftRoom', room => this.rooms[room] = false);

                this.socket.alerts = io(`${socketServer}/alert`, { cors });
                this.socket.alerts.on('alertToClient', msg => this.receiveAlertMessage(msg));
            },
        });
    </script>
</body>

</html>